<h1> You didn't order any of Jeremy's biskits, but that's ok.  He'll eat them all himself.  </h1>
<h2> Otherwise, your order was successful.</h2>
<p> Total cost: <%= @pizza.total() %> </p>
<p> Please call 07561 447 359 to pay.</p>
