<!DOCTYPE html>
<html>
<head>
  <title>Bumblebum Pizzas and Biskits</title>
</head>
<body>
  <h1>Bumblebum Pizzas and Biskits</h1>
  <h2>Run by Jeremy Giraffe</h2>
  <%= yield %>
  <nav>
    <ul>
      <li> <a href="/pizzas"> All Pizza Orders</a></li>
      <li><a href="/pizzas/new"> Order Pizzas or Biskits</a></li>

  </nav>
</body>
</html>
